@charset "UTF-8";
h1 {
  font-family: "Century Gothic", sans-serif;
  font-weight: normal;
  text-decoration: none;
  font-size: 26pt;
  padding-left: 0;
  margin-left: 0; }

.vert-centered {
  position: fixed;
  top: 20%;
  right: 50%;
  left: 50%; }

.link-div {
  cursor: pointer; }

.bluestone {
  background-color: #336B87; }

.brownautumn {
  background-color: #763626; }

.orange {
  background-color: #DD440A; }

#resume-wrapper {
  margin: 20px auto;
  border: 2px #90AFC5 solid;
  font-family: Helvetica, Arial, Verdana;
  max-width: 900px; }
  #resume-wrapper h1 {
    margin-top: 0; }
  #resume-wrapper .row {
    padding: 10px 10px 0 10px; }
  #resume-wrapper div.row.resume-row > div.col-md-4 > p > i {
    padding-right: 1px; }

p {
  display: inline; }

ul {
  display: block;
  list-style-type: disc;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0px;
  max-width: 800px;
  padding-bottom: 10px; }
  ul li {
    padding: 0 10px;
    text-indent: 0;
    display: block;
    content: "\f00c";
    text-decoration: none;
    font-size: 10.5pt;
    list-style-type: disc;
    list-style-position: inside;
    text-indent: -.8em; }
    ul li ::before {
      content: "• "; }

hr {
  margin: 0;
  left: 0;
  padding-top: 5px;
  text-align: left;
  border-top: 2px #90AFC5 solid; }

.contact-info {
  width: 400px;
  text-align: right; }

.section-title {
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 850;
  font-size: 15px;
  margin-left: -15px; }

.employment-position-title {
  font-family: Calibri, sans-serif;
  font-style: italic;
  font-size: 18px;
  font-weight: 680;
  margin-left: -15px; }

p {
  font-family: Calibri, sans-serif, sans-serif; }

a.a::before {
  content: none; }

a {
  font-family: Calibri, sans-serif;
  font-weight: 575;
  color: #222; }

.document-header {
  border-collapse: collapse; }

#l1 {
  content: "\f00c";
  padding-left: 0pt; }

.fa {
  padding-right: 5px; }

.container {
  width: auto; }

nav {
  padding: 3px; }
  nav .navbar .navbar-nav {
    display: inline-block;
    vertical-align: top; }
  nav .navbar .navbar-collapse {
    text-align: center; }
  nav ul {
    padding-bottom: 0; }
    nav ul li {
      font-size: 10.5pt;
      list-style-type: disc;
      list-style-position: inside;
      text-indent: 0;
      text-transform: uppercase; }
      nav ul li ::before {
        content: none; }
  nav .nav-pills > li.active > a {
    margin-right: 5px;
    border: none;
    outline: none !important;
    color: #fff;
    background-color: #60697A;
    font-family: "Century Gothic", sans-serif; }
  nav .nav-pills > li.active > a:focus {
    background-color: #DD440A; }
  nav .nav-pills > li.active > a:hover {
    background-color: #9AB6C2; }
  nav .container {
    background-color: rgba(255, 255, 255, 0.8); }

/************************************************************
*******                                         *************
*******    MARK - BUTTONS AND BUTTON STYLINGS   *************
*******                                         *************
*************************************************************/
.button-wrapper .btn {
  margin: 20px 0px; }

.nav-link-btn {
  width: 200px;
  font-size: 26px;
  background-color: #333;
  border: none;
  outline: none !important;
  color: #fff;
  background-color: #60697A;
  font-family: "Century Gothic", sans-serif; }
  .nav-link-btn :hover {
    background-color: #DD440A;
    color: red; }

.btn-container-col-center {
  flex-direction: column;
  align-items: center; }

.button-wrapper {
  display: flex;
  flex-flow: column wrap;
  justify-content: space-around; }

a.btn > span.glyphicon {
  margin-left: 12px; }

@media (min-width: 520px) {
  .button-wrapper {
    align-items: center;
    flex-flow: row wrap;
    -ms-flex-flow: row wrap;
    -webkit-flex-flow: row wrap; }
  .btn-container-center > a.btn {
    margin-left: 12px;
    margin-right: 12px; }
  .btn-container-center {
    justify-content: center; }
  .btn-container-center > a.btn:first-of-type {
    margin-left: 0; }
  .btn-container-center > a.btn:last-of-type {
    margin-right: 0; }
  .btn-container-col-center {
    flex-direction: column;
    align-items: center; } }

/************************************************************
*******                                         *************
*******            SandBox Stylings             *************
*******                                         *************
*************************************************************/
@keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 200%; } }

.sky {
  height: 100%;
  perspective: 1000px;
  position: absolute;
  width: 100%;
  overflow: hidden; }
  .sky--is-raining {
    background-color: #D4CEC0; }

.rain {
  animation: drop 4s infinite;
  animation-timing-function: linear;
  background: #D4CEC0;
  height: 80px;
  position: absolute;
  width: 2px; }
  .rain--middle {
    transform: translateZ(-500px); }
  .rain--back {
    transform: translateZ(-1000px); }

.rain-color {
  background: linear-gradient(rgba(51, 107, 135, 0), 70%, #336b87); }

.go-left {
  left: 100px; }
