@charset "UTF-8";
p {
  display: inline;
  font-family: 'Open Sans', sans-serif; }

hr {
  margin: 0;
  left: 0;
  padding-top: 5px;
  text-align: left;
  border-top: 2px #90AFC5 solid; }

#resume-wrapper {
  margin: 25px auto;
  border: 2px #90AFC5 solid;
  max-width: 900px; }
  #resume-wrapper h1 {
    font-family: 'Open Sans', sans-serif; }
  #resume-wrapper ul {
    -webkit-padding-start: 0px;
    padding: 0;
    text-indent: inherit; }
    #resume-wrapper ul li {
      display: block;
      text-decoration: none;
      font-size: 10.5pt;
      text-indent: -.6em; }
      #resume-wrapper ul li ::before {
        content: "• "; }
    #resume-wrapper ul .list-heading {
      font-family: 'Open Sans', sans-serif;
      font-weight: 600;
      list-style: none;
      font-size: 16px; }
  #resume-wrapper .row {
    padding: 10px 10px 0 10px; }
  #resume-wrapper .row.resume-title-row div.col-md-8 > span > h1 {
    margin: 0 0 0 -15px;
    padding: 0; }
  #resume-wrapper .row.skills-row > div > ul {
    padding: 0; }
  #resume-wrapper div.row.employment-row div > ul > li.list-heading {
    padding-left: 0;
    margin-left: -15px;
    text-indent: inherit; }
  #resume-wrapper a.a::before {
    content: none; }
  #resume-wrapper .fa {
    padding-right: 5px; }

.vert-centered {
  position: fixed;
  top: 20%;
  right: 50%;
  left: 50%; }

.link-div {
  cursor: pointer; }

.bluestone {
  background-color: #336B87; }

.brownautumn {
  background-color: #763626; }

.orange {
  background-color: #DD440A; }

.contact-info {
  width: 400px;
  text-align: right; }

.section-title {
  font-size: 15px;
  margin-left: -15px;
  font-family: 'Open Sans', sans-serif;
  font-size: 22px; }

.employment-position-title {
  font-size: 18px;
  font-weight: 680;
  margin-left: -15px;
  width: 100%; }

a {
  font-weight: 575;
  color: #222; }

.document-header {
  border-collapse: collapse; }

.container {
  width: auto; }

/************************************************************
*******                                         *************
*******    MARK - BUTTONS AND BUTTON STYLINGS   *************
*******                                         *************
*************************************************************/
/************************************************************
*******                                         *************
*******            SandBox Stylings             *************
*******                                         *************
*************************************************************/
@keyframes drop {
  0% {
    top: -50%; }
  100% {
    top: 200%; } }

.sky {
  height: 100%;
  perspective: 1000px;
  position: absolute;
  width: 100%;
  overflow: hidden; }
  .sky--is-raining {
    background-color: #000; }

.rain {
  animation: drop 4s infinite;
  animation-timing-function: ease-in;
  background: #D4CEC0;
  height: 80px;
  position: absolute;
  width: 2px; }
  .rain--middle {
    transform: translateZ(-500px); }
  .rain--back {
    transform: translateZ(-1000px); }

.rain-color {
  background: linear-gradient(rgba(51, 107, 135, 0), 70%, #e6e6e6); }
