* {
    margin: 0;
    padding: 0;
    text-indent: 0;
    background-color: #ffffff;
}

.green {
    background-color: green;
    min-height: 50px;
}

.red {
    background-color: darkred;
    min-height: 50px;
}

.orange {
    background-color: darkorange;
    min-height: 50px;
}

#resume-wrapper {
    max-width: 800px;
    margin: 15px auto;
    padding: 25px;
    border: 1px #ddd solid;
    font-family: Helvetica, Arial, Verdana;
}

#wrapper {
    margin: 25px;
    padding: 25px;
    text-align: center;
    line-height: 5em;
    font-size: 25px;
}

li {
    content: "• ";
    display: block;
    text-indent: 0;
    padding-left: 5px;
    display: block;
}

li:before {
    content: "• ";
}

#l3>li:before {
    content: "• ";
    font-family: Arial, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
}

ul {
    padding-left: 20;
    padding-bottom: 7px;
    list-style-position: outside;
}

ul li {
    list-style-type: disc;
    list-style-position: inside;
    padding: 0 0 0 1em;
    text-indent: -.6em;
}

p {
    display: inline;
}

ul,
menu,
dir {
    display: block;
    list-style-type: disc;
    -webkit-margin-before: 0em;
    -webkit-margin-after: 0em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
    -webkit-padding-start: 0px;
    max-width: 800px;
}

hr {
    max-width: 800px;
    margin: 0 0 5px 0;
    left: 0;
    text-align: left;
}

body {
    //padding-left: 20px;
}

.s1 {
    font-family: "Century Gothic", sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 26pt;
}

.contact-info {
    width: 400px;
    text-align: right;
}

.s3 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 11pt;
    text-align: right;
}

.s4 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 7pt;
    vertical-align: 4pt;
}

.s6 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: underline;
    font-size: 14pt;
}

.s7 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
}

.section-title {
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 690;
    font-size: 15px;
}

.employment-position-title {
    font-family: Calibri, sans-serif;
    font-style: italic;
    font-weight: 620;
}

.awesomeness-point {
    padding-top: 3pt;
    padding-left: 35pt;
    text-indent: -11pt;
    line-height: 12pt;
    text-align: left;
}

// }
// test
p {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
    margin: 0pt;
}

.a,
a {
    font-family: Calibri, sans-serif;
    font-weight: 400;
}

.s9 {
    font-family: Calibri, sans-serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10pt;
}

.document-header {
    border-collapse: collapse;
}

#l1 {
    padding-left: 0pt;
}

#l1>li:before {
    content: " ";
    font-family: Symbol, serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
}

#l2 {
    padding-left: 0pt;
}

#l2>li:before {
    content: " ";
    font-family: Symbol, serif;
    font-weight: normal;
    text-decoration: none;
    font-size: 10.5pt;
}