@import "core.scss";
p {
	display: inline;
	font-family: 'Open Sans', sans-serif;
}

hr {
	margin: 0;
	left: 0;
	padding-top: 5px;
	text-align: left;
	border-top: 2px $mist solid;
}

#resume-wrapper {
	margin: 25px auto;
	border: 2px $mist solid;
	max-width: 900px;
	h1 {
		font-family: 'Open Sans', sans-serif;
	}
	ul {
		-webkit-padding-start: 0px;
		padding: 0;
		text-indent: inherit;
		li {
			display: block;
			text-decoration: none;
			font-size: 10.5pt;
			text-indent: -.6em;
			 ::before {
				content: "• ";
			}
		}
		.list-heading {
			font-family: 'Open Sans', sans-serif;
			font-weight: 600;
			list-style: none;
			font-size: 16px;
		}
	}
	.row {
		padding: 10px 10px 0 10px;
	}
	.row.resume-title-row {
		div.col-md-8>span>h1 {
			margin: 0 0 0 -15px;
			padding: 0;
		}
	}
	.row.skills-row>div>ul {
		padding: 0;
	}
	div.row.employment-row {
		div>ul>li.list-heading {
			padding-left: 0;
			margin-left: -15px;
			text-indent: inherit;
		}
	}
	a.a::before {
		content: none;
	}
	.fa {
		padding-right: 5px;
	}
}

.vert-centered {
	position: fixed;
	top: 20%;
	right: 50%;
	left: 50%;
}

.link-div {
	cursor: pointer;
}

.bluestone {
	background-color: $bluestone;
}

.brownautumn {
	background-color: $brownautumn;
}

.orange {
	background-color: $orange;
}

.contact-info {
	width: 400px;
	text-align: right;
}

.section-title {
	font-size: 15px;
	margin-left: -15px;
	font-family: 'Open Sans', sans-serif;
	font-size: 22px;
}

.employment-position-title {
	font-size: 18px;
	font-weight: 680;
	margin-left: -15px;
	width: 100%;
}

a {
	font-weight: 575;
	color: #222;
}

.document-header {
	border-collapse: collapse;
}

.container {
	width: auto;
}


/************************************************************
*******                                         *************
*******    MARK - BUTTONS AND BUTTON STYLINGS   *************
*******                                         *************
*************************************************************/


/************************************************************
*******                                         *************
*******            SandBox Stylings             *************
*******                                         *************
*************************************************************/

@keyframes drop {
	0% {
		top: -50%;
	}
	100% {
		top: 200%;
	}
}

.sky {
	height: 100%;
	perspective: 1000px;
	position: absolute;
	width: 100%;
	&--is-raining {
		background-color: #000;
	}
	overflow: hidden;
}

.rain {
	animation: drop 4s infinite;
	animation-timing-function: ease-in;
	background: $dirtybaige;
	height: 80px;
	position: absolute;
	width: 2px;
	&--middle {
		transform: translateZ(-500px);
	}
	&--back {
		transform: translateZ(-1000px);
	}
}

.rain-color {
	background: linear-gradient(rgba(51, 107, 135, 0), 70%, rgba(230, 230, 230, 1));
}